.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  font-size: 1.4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 2rem 0;
  font-size: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
  width: 100%;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 1rem;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card p {
  margin: 2rem 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  margin: 2rem;
  text-align: center;
}

.banner,
.banner-show {
  position: fixed;
  top: -5rem;
  left: .5rem;
  right: .5rem;
  height: 3.5rem;
  width: calc(100% - 1rem);
  line-height: 3.5rem;
  padding: 0 1rem;
  border-radius: 1rem;
  background: #0070f3;
  color: white;
  z-index: 1000;
  opacity: 0;
  transition: top .5s ease, opacity .5s ease;
}

.banner-show {
  top: .25rem;
  opacity: 1;
}

.search {
  background: #eaeaea;
  border-radius: 100vw;
  border: none;
  padding: 1rem;
  outline: none;
  width: 75%;
  font-size: .6em;
}

.search:focus {
  background: transparent;
  border: 1px solid #0070f3;
}

.sidebar {
  margin: 7rem 0 0 7rem;
  font-size: 1.4em;
  line-height: 2em;
}

.tab,
.tab-active {
  margin: .5rem 0;
  padding-left: 1rem;
  font-size: .9em;
}

.tab-active {
  border-left: 2px solid #0070f3;
  pointer-events: none;
}

.cta {
  margin: 7rem 0 0;
  border: 1px solid #eaeaea;
  border-radius: 1rem;
  padding: 2rem;
  max-height: 10rem;
}

.cta h3 {
  font-size: 1.2em;
  margin: 0 0 1rem;
}

.post {
  background: #0070f3;
  color: white;
  position: fixed;
  height: 3rem;
  width: 3rem;
  bottom: 1rem;
  right: 1rem;
  transform: rotateZ(90deg);
  font: normal 400 1.4em monospace;
  text-align: center;
  padding: 0;
  z-index: 10;
}

.overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  background: rgba(255, 255, 255, .75);
  z-index: 900;
}

.overlay > div {
  position: absolute;
  background: white;
  border: 1px solid #eaeaea;
  border-radius: 1rem;
  width: 75%;
  max-height: 75%;
  padding: 1rem;
  overflow: auto;
}

.overlay > div section {
  margin: 1rem 0;
}

.overlay > div section label {
  display: inline-block;
  margin: 1rem 0;
}

.input {
  width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 1rem;
  padding: 1rem;
  outline: none;
}

textarea.input {
  min-height: 12rem;
  font: inherit;
}

.search,
.tab:last-of-type a {
  cursor: not-allowed;
}

.profile {
  margin: 1rem;
}

.profile h1 {
  font-size: 1.4em;
  margin: 2rem 0;
}

.profile .avatar {
  width: 10rem;
  height: 10rem;
  border-width: 5px;
  border-style: solid;
}

.avatar {
  background: #ccc;
  border-color: #eee;
  border-radius: 100vw;
  overflow: hidden;
}

.avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview {
  display: block;
  padding: 10px;
  border: 1px solid #eaeaea;
  border-radius: 1rem;
  margin: 2rem auto 0;
}

.preview > img {
  background: #eaeaea;
  display: inline-block;
  height: 360px;
  margin: 1rem auto 0;
}

@media (max-width: 974px) {
  .grid {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .sidebar {
    margin: 2rem;
    font-size: 1.1em;
    display: block;
    text-align: center;
  }

  .tab,
  .tab-active {
    padding-left: 0;
  }

  .tab-active {
    border-left: none;
    font-style: italic;
  }

  .profile h1 {
    font-size: 1.2em;
    margin: 1rem 0;
  }

  .profile .avatar {
    width: 7rem;
    height: 7rem;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .input,
  .footer,
  .cta,
  .overlay > div,
  .preview {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .search,
  .preview > img {
    background: #222;
  }

  .overlay {
    background: rgba(0, 0, 0, .75);
  }

  .overlay > div {
    background: black;
  }

  .avatar {
    background: #222;
    border-color: #444;
  }
}
